.container {
	display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fdfdfd;
}

.navbar {
	height: 40;
    padding: 0 10px;
    margin-bottom: 20px;
    background: #2d87f6;
    line-height: 40px;
}

.navbar > a {
	color: white;
	text-decoration: none;
	width: 100px;
	margin-right: 20px;
}

.logo {
	font-size: 24px;
}

.navbar > a:not(.logo) {
	font-size: 18px;
}

.contentContainer {
	outline: none;
    padding: 0 10px;
}