a.gameButton {
	background: transparent;
	border: 0;
	color: initial;
	display: inline-block;
	min-width: 300px;
	padding-left: 10px;
	text-align: left;
	text-align: left;
	text-decoration: none;
	width: 100%;
}

a.gameButton:hover {
	background-color: #ebf3fd;
    border-radius: 5px;
}