.newTeamContainer {
	align-items: start;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 50%;
}

h4 {
	margin: 0 10px 20px 0;
    display: inline-block;
}

input[type="text"] {
    height: 30px;
    border-radius: 3px;
    border: 1px solid #DDD;
    line-height: 30px;
    font-size: 14px;
    text-indent: 5px;
}

.createButton {
    align-self: flex-end;
    padding: 7px 15px;
    border: 1px solid #2d87f6;
    border-radius: 3px;
    color: #2d87f6;
    background-color: #ebf3fd;
    cursor: pointer;
}