.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 150px;
  border: 2px solid gray;
  background-color: wheat;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  cursor: pointer;
}

.flipped {
  transform: rotateY(180deg);
  background-color: lightgreen;
}

.front {
  transform: rotateY(0deg);
  display: inline-block;
}

.back {
  transform: rotateY(180deg);
  display: inline-block;
}

.img {
  max-width:100%;
  max-height:100%;
}