.card-container {
  position: relative;
  width: 100px;
  height: 150px;
  display: inline-block;
}

.card {
  position: relative;
  visibility: hidden;
  transition: 1s;
  transform: rotateY(0deg);
	transform-style: preserve-3d;
}

.card.flipped {
  visibility: hidden;
  transition: all 1s;
  transform: rotateY(180deg) translateX(-93px);
}

.card:before {
  position: absolute;
  top: 0;
  left: 0;
  content: 'Hello';
  display: inline-block;
  visibility: visible;
  width: 100px;
  height: 150px;
  border: 2px solid gray;
  background-color: wheat;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
}

.card.flipped:before {
  opacity: 0;  
  transition: all 1s;
}

.card.flipped:after {
  opacity: 1;
  transition: all 1s;
}

.card:after {
  opacity: 0;
    transition: all 1s;
}

.card:before {
  opacity: 1;
    transition: all 1s;
}

.card:after {  
  position: absolute;
  top: 0;
  left: 0;
  content: 'Shtuty';
  display: inline-block;
  visibility: visible;
  width: 100px;
  height: 150px;
  border: 2px solid gray;
  background-color: lightgreen;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  transform: rotateY(180deg);
}