.teamsListContainer {
    align-items: center;
	display: flex;
    flex-direction: column;
}

.buttonsContainer {
	display: flex;
    /*border: 1px solid;
    align-items: start;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;*/
    border-bottom: none;
    border-radius: 5px;
    flex-direction: column;
    min-width: 300px;
}

.teamButton {
	border: 0;
	background: transparent;
	cursor: pointer;
	padding: 2px 8px;
	text-align: left;
	width: 100%;
}

.teamButton:hover {
	background-color: #ebf3fd;
    border-radius: 5px;
}

.addTeam {
	box-sizing: border-box;
	color: #2d87f6;
	display: inline-block;
	padding: 8px;
	text-decoration: none;
}